@font-face {
    font-family: "Bluu Next";
    src: url(/assets/bluunext.woff2) format("woff2");
}

body {
    font-family: "Bluu Next", Helvetica, sans-serif;
    line-height: 1.25;
    color: #000;

    background-color: #edc7a9;
    background-image: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));

    height: 100vh;
    transition: background-color 0.5s;
}

h1 {
    font-size: 24px;
    margin: 10px 0 10px 0;
}

h2 {
    font-size: 10vmin;
    margin: 0;
}

section a {
    color: #000;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #3e78ed;
    border-radius: 99999px;
    display: inline-block;
    transition: background-color 0.5s;
}

section {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

footer img {
    cursor: pointer;
}
